<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.myauct.web.domain.auctcategory.dao.AuctCategoryDAO">
	
	<insert id="registerCategory">
		insert into Auct_Category (category)
		values (#{category})
		<selectKey order="AFTER" keyProperty="cnum"
			resultType="int">
			select MAX(cnum) from `Auct_Category`;
		</selectKey>
	</insert>

	<update id="modifyCategory">
		update Auct_Category set category = #{category} 
		where cnum = #{cnum}
	</update>
	
	<select id="getCnum" resultType="_int">
	select cnum from Auct_Category where category = #{category}
	</select>
	
	<select id="getCategoryList" resultType="AuctCategoryDTO">
	select * from Auct_Category
	</select>
	
	<select id="getCategory" resultType="string">
		select category from Auct_Category where cnum = #{cnum}
	</select>
</mapper>